server:
  port: 8082

spring:
  application:
    name: geo-service
  datasource:
    url: jdbc:mysql://localhost:3306/db_futbol?useSSL=false&serverTimezone=UTC&allowPublicKeyRetrieval=true
    username: root
    password: Albocela1066
    driver-class-name: com.mysql.cj.jdbc.Driver
  jpa:
    hibernate:
      ddl-auto: validate
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQLDialect
        format_sql: true

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka